{% extends "base.html" %}
{% load static %}

{% block 'body' %}
<div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 pointer-events-none -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <svg class="absolute inset-0 -z-10 size-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
        <defs>
            <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
            </pattern>
        </defs>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    <div class="p-6 bg-white min-h-screen">
        
            <div class="mx-auto max-w-4xl">
                <div class="grid grid-cols-2 gap-6">
                    <div>
                        <ul role="list" class="space-y-6">
                            {% for diario in diarios %}
                                <li class="relative flex gap-x-4">
                                    <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
                                    <div class="w-px bg-gray-200"></div>
                                    </div>
                                    <div class="relative flex size-6 flex-none items-center justify-center bg-white">
                                    <div class="size-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
                                    </div>
                                    <div>
                                    <p class="py-0.5 text-xs/5 text-gray-500">
                                        <span class="font-medium text-gray-900">{{diario.titulo}}</span><br>
                                        {{diario.texto}}
                                    </p>
                                    <div class="flex gap-[8px] text-xs/5 text-gray-500 mt-2">
                                        {% for pessoa in diario.pessoas.all %}
                                            <img src="{{pessoa.foto.url}}" class="w-10 h-10 rounded-md bg-cover" alt="">
                                        {% endfor %}    
                                        
                                        
                                    </div>
                                    </div>
                                    <time datetime="2023-01-23T10:32" class="flex-none py-0.5 text-xs/5 text-gray-500">12/12/2024</time>
                                </li>
                              {% endfor %}
                              
                            
                          </ul>
                    </div>

                    <div>
                        {% if diarios %}
                            <h1 class="text-balance text-2xl font-semibold tracking-tight text-slate-600 ">Parabéns, você teve {{total}} recordação anotadas nesse dia.</h1>
                            <br>
                            <a href="{% url 'excluir_dia' %}?data={{data}}" class="mt-6 rounded-md cursor-pointer bg-red-600 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 mt-12">Excluir todas as anotações</a>

                        {% else %}
                            <h1 class="text-balance text-2xl font-semibold tracking-tight text-slate-600 ">Que pena, nesse dia não foi feito nenhuma anotação.</h1>
                        {% endif %}
                    </div>

                </div>
            </div>
    </div>
    
</div>
{% endblock %}